<div class="row center">
  <form class="form new-post-form">
    <div class="form-group">
      <label for="post-title">post title</label>
      <input class="form-input" type="text" id="post-title" data-user_id="{{user_id}}"/>
    </div>
    <div class="form-group">
      <label for="post-content">post content</label>
      <textarea name="post-content" class="form-textarea" id="post-content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="dashboard-btn" id="add-post-btn">Add Post</button>
    </div>
  </form>
</div>

<script src="/js/createPost.js"></script>