header {
  height: 125px;
  background-color: #333;
  
}

nav {
  padding: 14px 16px;
}

h5 {
  padding: 5px;
  margin-left: 10px;
  display: inline;
}

h6 {
  float: right;
  display:inline;
}

p {
  padding: 5px;
  margin-left: 10px;
  color: black;
}

a {
  padding: 14px 16px;
  color: white;
  text-decoration: none;

}

a:hover {
  color: white;
  text-decoration: none;
}

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
  width: 100%;
}

.center {
  margin: auto;
  width: 80%;
}

.sign-in-link a {
  color: black;
}

.sign-in {
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 10px;
}

.sign-up {
  width: 100%;
  background-color: darkgray;
  height: 50px;
  margin: 0;
  padding: 0;
}

.login-btn {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: darkgray;

}

.header-info {
  color: black;
  background-color: lightgray;
  width: 200px;
  height: 50px;
  padding: 5px;
  margin-left: 20px;
  border-radius: 10px;
}

.title {
  background-color: #333;
  color: white;
  width: 100%;
  padding: 10px;
}

.post {
  border: 2px solid black;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.comment {
  border: 2px solid black;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

.dashboard-btn {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: darkgray;
  margin-top: 10px;
}

.delete-btn {
  border: 1px solid black;
  width: 80%;
  height: 50px;
  background-color: darkgray;
  margin-top: 10px;
}

.add-post-link {
  color: black;
  border: 1px solid black;
  width: 80%;
  height: 50px;
  background-color: darkgray;
  margin-top: 10px;
  text-align: center;
}

.add-post-link a {
  width: 100%;
  text-align: center;
}

.update-post-link {
  color: black;
  border: 1px solid black;
  width: 80%;
  height: 50px;
  background-color: darkgray;
  margin-top: 10px;
  text-align: center;
}

.update-post-link a {
  color: black;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: white;
  text-decoration: underline;
}

.comment-form {
  width: 100%;
}

#comment {
  width: 100%;
  height: 100px;
}

#submit-btn {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: darkgray;
}